@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1280px;
  height: 5128.75px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  width: 1280px;
  height: 80px;
  background-color: rgb(255, 255, 255);
}
.header1 {
  display: flex;
  justify-content: space-between;
  width: 123.94px;
  height: 40px;
  /* background-color: black; */
}
.logo_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: #d9eff7;
}
.tree_icon {
  width: 24px;
  height: 20px;
  color: #065161;
}
.header1_text {
  display: flex;
  flex-direction: column;
  width: 71.94px;
  height: 38px;
  /* background-color: black; */
}
.header1_text1 {
  width: 71.94px;
  height: 26px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.45px;
  color: #065161;
}
.header1_text2 {
  width: 140.58px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #70787c;
}

.header2 {
  display: flex;
  align-items: center;
  width: 424px;
  height: fit-content;
  gap: 24px;
  /* background-color: black; */
}
.nav_text1 {
  width: 124.28px;
  height: 40px;
  border-radius: 9999px;
  padding: 8px 16px;
  background-color: #2b697a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
}
.nav_text {
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #40484b;
}

.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 397.16px;
  height: 48px;
  gap: 16px;
  /* background-color: black; */
}
.header3-1 {
  display: flex;
  width: 71.17px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 12px;
  gap: 4px;
  background-color: #ecf5fa;
}
.lang_icon {
  width: 15px;
  height: 15px;
  color: #70787c;
}
.en {
  width: 16.17px;
  height: 16px;
}
.header3-2 {
  width: 86.55px;
  height: 44px;
  min-height: 44px;
  border-radius: 9999px;
  padding: 11.5px 16px 12.5px 16px;
  background-color: #d9eff7;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #065161;
}
.header3-3 {
  width: 159.44px;
  height: 48px;
  min-height: 48px;
  border-radius: 9999px;
  padding: 13.5px 24px 14.5px 24px;
  background-color: #2b697a;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #ffffff;
}
.header3-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-color: #065161;
}
.fa-user {
  /* width: 12px; */
  /* height: 12px; */
  color: #ffffff;
}

.tr {
  position: absolute;
  z-index: 3;
  background-color: rgb(164, 181, 188);
  width: 1280px;
  height: 80px;
  position: absolute;
  top: 80px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 4704.75px;
  background-color: #F3FAFF;
  padding-top: 80px;
}
.hero {
  position: relative;
  width: 1280px;
  height: 591.75px;
  padding-top: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./unnamed.png");
}
.ger {
  position: absolute;
  z-index: 1;
  top: -80px;
  width: 1280px;
  height: 672px;
}
.gradient {
  position: absolute;
  top: -80px;
  z-index: 2;
  width: 1280px;
  height: 671.75px;
  background: linear-gradient(to top, #f3faff, #06516180 50%, #194553cc 80%);
}
.hero_text {
  position: absolute;
  top: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
  width: 1280px;
  height: 448px;
  max-width: 1280px;
  padding: 0px 48px;
  /* background-color: aqua; */
}
.hero_text1-container{
    width: 286.75px;
    height: 50px;
    /* background-color: brown; */
}
.hero_text1 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 286.75px;
  height: 34px;
  display: flex;
  border: 1px;
  padding: 4px;
  gap: 8px;
  border-radius: 9999px;
  background-color: white;
}
.pure-magic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112.17px;
  height: 24px;
  border-radius: 9999px;
  background-color: #194553;
}
.pure-magic {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.1px;
  color: #d9eff7;
}
.expedition2024 {
  width: 129.58px;
  height: 24px;
  padding: 4px 12px;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #194553;
}
.star_icon {
  width: 19px;
  height: 19px;
}
.hero_text234-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 672px;
    height: 238px;
    max-width: 896px;
    padding-bottom: 24px;
    /* background-color: brown; */
}
.hero_text2 {
  display: flex;
  text-align: center;
  width: 486.23px;
  height: 46px;
  padding-bottom: 8px;
  color: #d9eff7;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.75px;
}
.hero_text3 {
  margin-bottom: 16px;
  display: flex;
  text-align: center;
  width: 231.13px;
  height: 64px;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1.4px;
}
.hero_text4 {
  margin-bottom: 24px;
  display: flex;
  text-align: center;
  width: 635.23px;
  height: 104px;
  color: #d9eff7;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.25px;
  letter-spacing: 0px;
}
.hero_text5-container{
    width: 896px;
    height: 92px;
    max-width: 896px;
    padding-bottom: 48px;
    /* background-color: brown; */
}
.hero_text5 {
  display: flex;
  width: 896px;
  height: 44px;
  max-width: 896px;
  gap: 12px;
  /* background-color: black; */
}
.hero_text5-texts{
    display: flex;
    width: 215px;
    height: 44px;
    border-radius: 9999px;
    padding: 12px 16px;
    gap: 8px;
    background-color: white;
}
.t5-house-icon{
  width: 16.67px;
  height: 13.33px;
  background-color: #065161;
}
.t5-text1{
  width: 125.33px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #194553;
}
.t5-compus-icon{
  width: 16.67px;
  height: 16.67px;
  background-color: #065161;
}
.t5-text2{
  width: 106.13px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #194553;
}
.t5-peoples-icon{
  width: 20px;
  height: 20px;
  background-color: #065161;
}
.t5-text3{
  width: 120.92px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #194553;
}
.t5-shield-icon{
  width: 13.33px;
  height: 16.67px;
  background-color: #065161;
}
.t5-text4{
  width: 140.42px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #194553;
}
.hero_text6 {
  display: flex;
  justify-content: space-between;
  width: 896px;
  height: 68px;
  max-width: 896px;
  border-radius: 9999px;
  padding: 8px;
  background-color: white;
}
.t6-1{
  display: flex;
  align-items: center;
  width: 260.84px;
  height: 52px;
  padding: 8px 16px;
  gap: 12px;
}
.calendar-icon{
  width: 18px;
  height: 20px;
  background-color: #065161;
}
.t6-1-texts{
  width: 145.36px;
  height: 36px;
  /* background-color: #d6f3ff; */
}
.t6-1-text-1{
  width: 122.44px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #70787C;
}
.t6-1-text-2{
  width: 145.36px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #141D21;
}
.t6-2{
  width: 1px;
  height: 40px;
  background-color: #DAE4E9;
}
.t6-3{
  display: flex;
  align-items: center;
  width: 260.86px;
  height: 52px;
  padding: 8px 16px;
  gap: 12px;
  /* background-color: #194553; */
}
.loc-icon{
  width: 14px;
  height: 20px;
  background-color: #065161;
}
.t6-3-texts{
  width: 154.75x;
  height: 36px;
  /* background-color: #d6f3ff; */
}
.t6-3-text-1{
  width: 154.75px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #70787C;
}
.t6-3-text-2{
  width: 154.75px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #141D21;
}
.t6-4{
  width: 1px;
  height: 40px;
  background-color: #DAE4E9;
}
.t6-5{
  display: flex;
  width: 300.8px;
  height: 48px;
  gap: 8px;
  /* background-color: #065161; */
}
.t6-5-container1{
  display: flex;
  justify-content: center;
  width: 196.33px;
  height: 48px;
  min-height: 48px;
  border-radius: 9999px;
  padding: 14px 32px;
  gap: 8px;
  background-color: #2B697A;
}
.t6-5-text{
  width: 113.83px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: white;
}
.t6-5-down_icon{
  width: 10.5px;
  height: 15px;
  color: white;
  background-color: #065161;
}
.t6-5-container2{
  width: 96.47px;
  height: 48px;
  min-height: 48px;
  border-radius: 9999px;
  padding: 14px 24px;
  background-color: #D9EFF7;
}
.t6-5-container2-1{
  width: 48.47px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #065161;
}
/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */

.featured_nav {
  width: 1280px;
  height: 1088px;
  max-width: 1280px;
  padding: 72px 48px;
  /* background-color: rgb(255, 2, 2); */
}
.featured_nav-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  /* background-color: rgb(36, 21, 21); */
  margin-bottom: 48px;
}
.featured_nav-top-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 72px;
    gap: 8px;
    /* background-color: brown; */
}
.featured_nav-top-1-1{
  display: flex;
    width: 488.48px;
    height: 16px;
    gap: 8px;
    /* background-color: green; */
}
.featured_nav-top-1-1mounten-icon{
  width: 18.33px;
  height: 10px;
  background-color: #525e62;
  color: #065161;
}
.featured_nav-top-1-1text{
  width: 163.59px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.1px;
  color: #065161;
}
.featured_nav-top-1-2{
    width: 488.48px;
    height: 48px;
    /* background-color: #065161; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #141D21;
}
.featured_nav-top-2{
    width: 448px;
    height: 72px;
    max-width: 448px;
    padding-right: 8.09px;
    /* background-color: gray; */
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 15px;
    line-height: 24px;
    color: #40484B;
}
.featured_nav-bottom {
  display: flex;
  position: relative;
  width: 1184px;
  height: 824px;
  gap: 24px;
  /* background-color: blue; */
}
.featured-pic1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 680.67px;
  height: 420px;
  border-radius: 12px;
  padding: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(khuvsgul.jpg);
  background-color: black;
}
.featured-gradient1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 680.67px;
    height: 420px;
    border-radius: 12px;
    background: linear-gradient( #19455300, #19455366 40%, #194553);
}
.featured_nav-pic1-text-container{
    position: absolute;
    top: 234px;
    display: flex;
    flex-direction: column;
    width: 616.67px;
    height: 154px;
    gap: 8px;
    /* background-color: #065161; */
}



.featured_nav-pic1-text1{
    gap: 8px;
    display: flex;
    text-align: center;
    width: 616.67px;
    height: 24px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    /* background-color: black; */
}
.featured_nav-pic1-text1-a{
    width: 154.97px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: #D9EFF7;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #194553;
}
.featured_nav-pic1-text1-b{
    width: 108.48px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55;
    color: #141D21;
}
.featured_nav-pic1-text2{
    width: 616.67px;
    height: 38px;
    /* background-color: black; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.45px;
    color: white;

}
.featured_nav-pic1-text3{
    width: 512px;
    height: 40px;
    max-width: 512px;
    /* background-color: black; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D9EFF7;
}
.featured_nav-pic1-text4{
    display: flex;
    width: 616.67px;
    height: 24px;
    padding-top: 8px;
    /* background-color: black; */
    gap: 16px;
}
.featured_nav-pic1-text4-container1{
    display: flex;
    align-items: center;
    width: 192.28px;
    height: 16px;
    gap: 4px;
    /* background-color: gray; */
}
.featured_nav-pic1-text4-c1-water_icon{
  width: 10.67px;
  height: 13.33px;
  background-color: #D9EFF7;
}
.featured_nav-pic1-text4-c1-text{
  width: 177.61px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #D9EFF7;
}
.featured_nav-pic1-text4-container2{
    display: flex;
    width: 101px;
    height: 16px;
    gap: 4px;
    /* background-color: gray; */
}
.featured_nav-pic1-text4-c2-arrow_icon{
  width: 5.33px;
  height: 12px;
  background-color: #D9EFF7;
}
.featured_nav-pic1-text4-c2-text{
  width: 91.67px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #D9EFF7;
}



.featured-pic2 {
  display: flex;
  flex-direction: column;
  width: 479.33px;
  height: 420px;
  border-radius: 12px;
  padding: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(terkhiin-tsagaan.jpg);
  background-color: rgb(25, 148, 255);
  position: absolute;
  right: 0px;
}
.featured-gradient2{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 479.33px;
    height: 420px;
    border-radius: 12px;
    background: linear-gradient( #19455300, #19455366 40%, #194553);
}
.featured_nav-pic2-text-container{
    position: absolute;
    top: 234px;
    display: flex;
    flex-direction: column;
    width: 415.33px;
    height: 28px;
    padding-bottom: 4px;
    gap: 7.99px;
    /* background-color: #065161; */
}
.featured_nav-pic2-text1{
    gap: 8px;
    display: flex;
    text-align: center;
    width: 616.67px;
    height: 24px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    /* background-color: black; */
}
.featured_nav-pic2-text1-a{
    width: 96.33px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: #D9EFF7;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #194553;
}
.featured_nav-pic2-text1-b{
    width: 111.84px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55;
    color: #141D21;
}
.featured_nav-pic2-text2{
    width: 415.33px;
    height: 38px;
    /* background-color: black; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.45px;
    color: white;

}
.featured_nav-pic2-text3{
    width: 415px;
    height: 40px;
    /* background-color: black; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D9EFF7;
}
.featured_nav-pic2-text4{
    display: flex;
    width: 415.33px;
    height: 24px;
    padding-top: 8px;
    /* background-color: black; */
    gap: 15.99px;
}
.featured_nav-pic2-text4-container1{
    display: flex;
    width: 129.88px;
    height: 16px;
    gap: 4px;
    /* background-color: gray; */
}
.featured_nav-pic2-text4-c1-boat_icon{
  width: 13.33px;
  height: 14.67px;
  background-color: #D9EFF7;
}
.featured_nav-pic2-text4-c1-text{
  width: 112.55px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #D9EFF7;
}
.featured_nav-pic2-text4-container2{
    display: flex;
    width: 101px;
    height: 16px;
    gap: 4px;
    /* background-color: gray; */
}
.featured_nav-pic2-text4-c2-tree_icon{
  width: 10.67px;
  height: 13.33px;
  background-color: #D9EFF7;
}
.featured_nav-pic2-text4-c2-text{
  width: 86.16;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  color: #D9EFF7;
}


.featured-pic3 {
  width: 479.33px;
  height: 380px;
  border-radius: 12px;
  padding: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(khorgiin-togoo.jpg);
  background-color: bisque;
  position: absolute;
  bottom: 0px;
}
.featured-gradient3{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 479.33px;
    height: 380px;
    border-radius: 12px;
    background: linear-gradient( #19455300, #19455366 40%, #194553);
}
.featured_nav-pic3-text-container{
    position: absolute;
    top: 234px;
    display: flex;
    flex-direction: column;
    width: 415.33px;
    height: 114px;
    gap: 8px;
    /* background-color: #065161; */
}
.featured_nav-pic3-text1{
    gap: 8px;
    display: flex;
    text-align: center;
    width: 415.33px;
    height: 24px;
    margin-bottom: 4px;
    padding-bottom: 4px 12px;
    /* background-color: black; */
}
.featured_nav-pic3-text1-a{
    width: 96.33px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: #D9EFF7;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #194553;
}
.featured_nav-pic3-text1-b{
    width: 114.63px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55;
    color: #141D21;
}
.featured_nav-pic3-text2{
    width: 415px;
    height: 30px;
    /* background-color: black; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: white;
}
.featured_nav-pic3-text3{
    width: 415.33px;
    height: 40px;
    /* background-color: black; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D9EFF7;
}





.featured-pic4 {
  width: 680.67px;
  height: 380px;
  border-radius: 12px;
  padding: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(amarbayasgalan.jpg);
  background-color: aquamarine;
  position: absolute;
  bottom: 0;
  right: 0;
}
.featured-gradient4{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 680.67px;
    height: 380px;
    border-radius: 12px;
    background: linear-gradient( #19455300, #19455366 40%, #194553);
}


.featured_nav-pic4-text-container{
    position: absolute;
    top: 234px;
    display: flex;
    flex-direction: column;
    width: 616.67px;
    height: 114px;
    gap: 8px;
    /* background-color: #065161; */
}
.featured_nav-pic4-text1{
    gap: 8px;
    display: flex;
    text-align: center;
    width: 616.67px;
    height: 24px;
    margin-bottom: 4px;
    padding-bottom: 4px 12px;
    /* background-color: black; */
}
.featured_nav-pic4-text1-a{
    width: 137.5px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: #D9EFF7;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #194553;
}
.featured_nav-pic4-text1-b{
    width: 152.06px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.55;
    color: #141D21;
}
.featured_nav-pic4-text2{
    width: 616.67px;
    height: 30px;
    /* background-color: black; */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: white;
}
.featured_nav-pic4-text3{
    width: 512px;
    height: 40px;
    /* background-color: black; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D9EFF7;
}





/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */

.itinerary_section {
  width: 1280px;
  height: 874px;
  background-color: #ECF5FA;
  padding: 72px 0px;
}
.itinerary_section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  height: 730px;
  max-width: 1280px;
  padding: 0px, 48px;
  gap: 48px;
  /* background-color: rgb(192, 255, 255); */
}
.itinerary_section-top {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 672px;
  height: 168px;
  max-width: 672px;
  gap: 8px;
  /* background-color: #4a4f51; */
}
.itinerary_section-top-top{
    display: flex;
    align-items: center;
    width: 190.77px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 16px;
    gap: 8px;
    background-color: #D9EFF7;
}
.wr_icon{
  width: 13.5px;
  height: 13.5px;
  background-color: black;
}
.intinerar_roadmap{
  width: 137.27px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.1px;
  color: #065161;
}


.itinerary_section-top-middle{
    width: 672px;
    height: 48px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #141D21;
}
.itinerary_section-top-bottom{
    width: 598.42px;
    height: 56px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #40484B;
}
.itinerary_section-bottom {
  display: flex;
  position: relative;
  width: 1184px;
  height: 514px;
  max-width: 1184px;
  background-color: #162125;
}
.itinerary_setion-bottom-box1{
    display: flex;
    width: 378.67px;
    height: 243px;
    border-radius: 12px;
    padding: 24px;
    background-color: white;
}
.itinerary_setion-bottom-box2{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    width: 378.67px;
    height: 243px;
    border-radius: 12px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
}
.itinerary_setion-bottom-box3{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 378.67px;
    height: 243px;
    border-radius: 12px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
}
.itinerary_setion-bottom-box4{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 378.67px;
    height: 243px;
    border-radius: 12px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
}
.itinerary_setion-bottom-box5{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 781.33px;
    height: 243px;
    border-radius: 12px;
    padding: 24px;
    background: linear-gradient(to top, #FFFFFF, #FFFFFF, #D9EFF766 40%);
}

/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */

.pricing_tiers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 933px;
  gap: 72px;
  background-color: green;
}
.pricing_tiers-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 672px;
  height: 144px;
  max-width: 672px;
  gap: 8px;
  background-color: #86a4af;
}
.pricing_tiers-top1 {
  width: 191.78px;
  height: 24px;
  border-radius: 9999px;
  padding: 4px 16px;
  background-color: #d9eff7;
}
.pricing_tiers-top2 {
  width: 100%;
  height: 48px;
  /* background-color: aliceblue; */

  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #141d21;
  text-align: center;
}
.pricing_tiers-top3 {
  width: 672px;
  height: 56px;
  /* background-color: #04bcff; */

  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #40484b;
  text-align: center;
}
.pricing_tiers-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1184px;
  height: 573px;
  background-color: #d9eff7;
}
.pricing_tiers-bottom1 {
  display: flex;
  justify-content: space-between;
  width: 373.33px;
  height: 513px;
  border-radius: 16px;
  padding: 48px;
  background-color: #ffffff;
}
.pricing_tiers-bottom2 {
  position: absolute;
  top: -16px;
  left: 405.33px;
  display: flex;
  justify-content: space-between;
  width: 373.33px;
  height: 541px;
  border-radius: 16px;
  padding: 48px;
  background-color: #162125;
}
.pricing_tiers-bottom3 {
  display: flex;
  justify-content: space-between;
  width: 373.34px;
  height: 513px;
  border-radius: 16px;
  padding: 48px;
  background-color: #ffffff;
}

/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */
.trust_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 670px;
  padding: 72px 48px;
  background-color: #e0eaef;
}
.trust_section-container {
  width: 1184px;
  height: 526px;
  border-radius: 16px;
  padding: 48px;
  background-color: #ffffff;
}
.trust_section-text_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1088px;
  height: 430px;
  /* background-color: #3b3d3e; */
}
.trust_section-text_container1 {
  position: absolute;
  top: 71px;
  width: 425.33px;
  height: 288px;
  background-color: #86a4af;
}
.trust_section-text_container2 {
  position: absolute;
  left: 473.33px;
  width: 614.67px;
  height: 430px;
  /* background-color: #43484a; */
}
.trust_section-box1 {
  width: 299.33px;
  height: 215.92px;
  border-radius: 12px;
  padding: 24px;
  gap: 4px;
  background-color: #ecf5fa;
}
.trust_section-box2 {
  position: absolute;
  top: 0px;
  left: 315.33px;
  width: 299.33px;
  height: 220px;
  border-radius: 12px;
  padding: 24px;
  gap: 4px;
  background-color: #ecf5fa;
}
.trust_section-box3 {
  position: absolute;
  top: 236px;
  width: 299.33px;
  height: 189.33px;
  border-radius: 12px;
  padding: 24px;
  gap: 4px;
  background-color: #ecf5fa;
}
.trust_section-box4 {
  position: absolute;
  top: 236px;
  left: 315.33px;
  width: 299.33px;
  height: 184.67px;
  border-radius: 12px;
  padding: 24px 24px 72px 24px;
  gap: 4px;
  background-color: #ecf5fa;
}

/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */

.final_call {
  width: 1280px;
  height: 468px;
  max-width: 1280px;
  padding: 72px 48px;
  background-color: blue;
}
.final_call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1184px;
  height: 324px;
  border-radius: 24px;
  padding: 72px;
  background-color: #194553;
}
.final_call-text1 {
  width: 570.97px;
  height: 180px;
  max-width: 672px;
  gap: 8px;
  background-color: #85a1aa;
}
.final_call-text2 {
  display: flex;
  width: 417.56px;
  height: 52px;
  gap: 12px;
  /* background-color: #40484B; */
}
.call-text2-button1 {
  width: 216.95px;
  height: 52px;
  min-height: 52px;
  border-radius: 9999px;
  padding: 15.5px 32px 16.5px 32px;
  background-color: #2b697a;

  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #ffffff;
}
.call-text2-button2 {
  width: 188.61px;
  height: 52px;
  min-height: 52px;
  border-radius: 9999px;
  padding: 15.5px 24px 16.5px 24px;
  background-color: #ffffff;

  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #194553;
}

/* jkghdahgdgkhreidghuirehgasdfghjklkjhgsdfghjklkjhgfdsdfgklkjhgfd */
.footer {
  width: 1280px;
  height: 424px;
  padding: 72px 0px 32px 0px;
  background-color: #ecf5fa;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1280px;
  height: 320px;
  max-width: 1280px;
  padding: 0px 48px;
  gap: 72px;
  background-color: #2b697a;
}
.footer_text-container1 {
  width: 1184px;
  height: 204px;
  background-color: #141d21;
}
.footer_text-container2 {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  height: 44px;
  padding-top: 24px;
  background-color: #ffffff;
}
